
conda.enabled = true

// pipeline parameters

params {
    // Reads
    reads = "$projectDir/data/*{1,2}.fq"

    // Reference file
    transcriptome_file = "$projectDir/data/transcriptome.fa"

    // MultiQC directory
    multiqc = "$projectDir/multiqc"

    // Output directory
    outdir = "results"
}

// profiles 

profiles {
    docker_on {
        docker.enabled = true
    }
    local_pc {
        process.executor = 'local'
    }
    univ_hpc {
        process.executor = 'slurm'
        process.resourceLimits = [
            memory: 750.GB,
            cpus: 200,
            time: 30.d
        ]
    }
    demo {
        // Reads
        params.reads = "$projectDir/data/*{1,2}.fq"

        // Reference file
        params.transcriptome_file = "$projectDir/data/transcriptome.fa"

        // MultiQC directory
        params.multiqc = "$projectDir/multiqc"

        // Output directory
        params.outdir = "results"
    }
}
